<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p th:text="'Curriculum Vitae'" th:style="'text-align:center;font-weight: bold;font-size: xx-large'" />

<table>
    <tr>
        <td><p th:style="'font-size: large;font-weight: bold'"/>Name</td>
        <td><p th:style="'color: #451c4a;font-size: large'"/>: Jeremy Valentino Manik</td>
    </tr>
    <tr>
        <td><p th:style="'font-size: large;font-weight: bold'"/>Place of birth</td>
        <td><p th:style="'font-size: large'"/>: Bogor, Indonesia</td>
    </tr>
    <tr>
        <td><p th:style="'font-size: large;font-weight: bold'"/>Date of birth</td>
        <td><p th:style="'font-size: large'"/>: 14th February 1998</td>
    </tr>
    <tr>
        <td><p th:style="'font-size: large;font-weight: bold'"/>EDUCATIONS</td>
        <td><p th:style="'font-size: large'"/>:</td>
    </tr>
</table>
<th>
    <tr>
        <td><p th:style="'font-weight: bold'">Universitas Indonesia</p></td>
        <td><p>Computer Science</p></td>
        <td><p>July 2016 - August 2020</p></td>
    </tr>
    <tr>
        <td><p th:style="'font-weight: bold'">Regina Pacis Bogor Senior High School</p></td>
        <td><p>Science</p></td>
        <td><p>July 2013 - July 2020</p></td>
    </tr>
</th>
<p th:style="'font-size: large;font-weight: bold'">DESCRIPTION</p>
<p>I am an undergraduate computer science student who is looking for internship opportunities in order to improve myself more. I can adapt to many kinds of work situation. I am willing to work with other people and I can work under pressure. I am proficient in algorithms and data structures.</p>

</body>
</html>
